parameters:
    level: max
    paths:
        - src
        - resources
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    reportUnmatchedIgnoredErrors: true
